In [1]:
from pyspark.sql import *
from pyspark import *

In [2]:
spark  = SparkSession.builder.master('local[3]').appName('assignment3').getOrCreate()

In [7]:
employee1 = spark.read.option('inferSchema' , 'True').\
    option('header', 'True').csv('data\Employee_info_1.csv')

In [8]:
employee1

DataFrame[Id: int, Employee_id: int, City: string, State: string]

In [9]:
employee2 = spark.read.option('inferSchema' , 'True').\
    option('header', 'True').csv('data\Employee_info.csv')

In [11]:
employee2.show()

+----+--------+----------------+
|  Id|    Name|      Department|
+----+--------+----------------+
| 100|    Aman|Data Engineering|
| 200| Saurabh|Data Engineering|
| 300|   Mohit|          DavOps|
| 400|  Kashif|          DAvOps|
| 500|   Eniya|          DAvOps|
| 600|   Anand|          DAvOps|
| 700|  Murali|Data Engineering|
| 800|  Ramesh|            Null|
| 900|  Suresh|            Null|
|1000|Himanshu|            Null|
+----+--------+----------------+

In [12]:
employee1.show()

+----+-----------+--------+-----+
|  Id|Employee_id|    City|State|
+----+-----------+--------+-----+
| 100|       2555|  Indore|   MP|
| 200|       2456|  Indore|   MP|
| 300|       3265|   Surat|   GJ|
| 400|       7896|Banglore|   KA|
| 500|       4562|Banglore|   KA|
| 600|       8524|Banglore|   KA|
| 700|       6666|Banglore|   KA|
| 800|       9853|Banglore|   KA|
| 900|       1594|    Null|   JK|
|1000|       7894|    Null|   JK|
+----+-----------+--------+-----+

In [13]:
employee1.count()

10

In [14]:
employee2.count()

10

In [16]:
combined_df = employee1.join(employee2, employee1.Id == employee2.Id, 'inner')

In [18]:
combined_df.show(truncate=True)

+----+-----------+--------+-----+----+--------+----------------+
|  Id|Employee_id|    City|State|  Id|    Name|      Department|
+----+-----------+--------+-----+----+--------+----------------+
| 100|       2555|  Indore|   MP| 100|    Aman|Data Engineering|
| 200|       2456|  Indore|   MP| 200| Saurabh|Data Engineering|
| 300|       3265|   Surat|   GJ| 300|   Mohit|          DavOps|
| 400|       7896|Banglore|   KA| 400|  Kashif|          DAvOps|
| 500|       4562|Banglore|   KA| 500|   Eniya|          DAvOps|
| 600|       8524|Banglore|   KA| 600|   Anand|          DAvOps|
| 700|       6666|Banglore|   KA| 700|  Murali|Data Engineering|
| 800|       9853|Banglore|   KA| 800|  Ramesh|            Null|
| 900|       1594|    Null|   JK| 900|  Suresh|            Null|
|1000|       7894|    Null|   JK|1000|Himanshu|            Null|
+----+-----------+--------+-----+----+--------+----------------+

In [20]:
combined_df.count()

10

In [25]:
combined_df.na.fill("Banglore",["City"]).show()

+----+-----------+--------+-----+----+--------+----------------+
|  Id|Employee_id|    City|State|  Id|    Name|      Department|
+----+-----------+--------+-----+----+--------+----------------+
| 100|       2555|  Indore|   MP| 100|    Aman|Data Engineering|
| 200|       2456|  Indore|   MP| 200| Saurabh|Data Engineering|
| 300|       3265|   Surat|   GJ| 300|   Mohit|          DavOps|
| 400|       7896|Banglore|   KA| 400|  Kashif|          DAvOps|
| 500|       4562|Banglore|   KA| 500|   Eniya|          DAvOps|
| 600|       8524|Banglore|   KA| 600|   Anand|          DAvOps|
| 700|       6666|Banglore|   KA| 700|  Murali|Data Engineering|
| 800|       9853|Banglore|   KA| 800|  Ramesh|            Null|
| 900|       1594|    Null|   JK| 900|  Suresh|            Null|
|1000|       7894|    Null|   JK|1000|Himanshu|            Null|
+----+-----------+--------+-----+----+--------+----------------+

In [29]:
combined_df.printSchema()

root
 |-- Id: integer (nullable = true)
 |-- Employee_id: integer (nullable = true)
 |-- City: string (nullable = true)
 |-- State: string (nullable = true)
 |-- Id: integer (nullable = true)
 |-- Name: string (nullable = true)
 |-- Department: string (nullable = true)

+----+-----------+--------+-----+----+--------+----------------+
|  Id|Employee_id|    City|State|  Id|    Name|      Department|
+----+-----------+--------+-----+----+--------+----------------+
| 100|       2555|  Indore|   MP| 100|    Aman|Data Engineering|
| 200|       2456|  Indore|   MP| 200| Saurabh|Data Engineering|
| 300|       3265|   Surat|   GJ| 300|   Mohit|          DavOps|
| 400|       7896|Banglore|   KA| 400|  Kashif|          DAvOps|
| 500|       4562|Banglore|   KA| 500|   Eniya|          DAvOps|
| 600|       8524|Banglore|   KA| 600|   Anand|          DAvOps|
| 700|       6666|Banglore|   KA| 700|  Murali|Data Engineering|
| 800|       9853|Banglore|   KA| 800|  Ramesh|            Null|
| 900|       1594|    Null|   JK| 900|  Suresh|            Null|
|1000|       7894|    Null|   JK|1000|Himanshu|            Null|
+----+-----------+--------+-----+----+--------+----------------+

In [34]:
new_frame = spark.read.option('header', 'True').csv('data\Employee_info.csv')

In [35]:
new_frame

DataFrame[Id: string, Name: string, Department: string]

In [36]:
new_frame.show()

+----+--------+----------------+
|  Id|    Name|      Department|
+----+--------+----------------+
| 100|    Aman|Data Engineering|
| 200| Saurabh|Data Engineering|
| 300|   Mohit|          DavOps|
| 400|  Kashif|          DAvOps|
| 500|   Eniya|          DAvOps|
| 600|   Anand|          DAvOps|
| 700|  Murali|Data Engineering|
| 800|  Ramesh|            Null|
| 900|  Suresh|            Null|
|1000|Himanshu|            Null|
+----+--------+----------------+

In [37]:
new_frame.printSchema()

root
 |-- Id: string (nullable = true)
 |-- Name: string (nullable = true)
 |-- Department: string (nullable = true)

In [43]:
new_frame.columns

['Id', 'Name', 'Department']

In [52]:
new_frame.na.fill({'Department': 'DavOps'}).show()

+----+--------+----------------+
|  Id|    Name|      Department|
+----+--------+----------------+
| 100|    Aman|Data Engineering|
| 200| Saurabh|Data Engineering|
| 300|   Mohit|          DavOps|
| 400|  Kashif|          DAvOps|
| 500|   Eniya|          DAvOps|
| 600|   Anand|          DAvOps|
| 700|  Murali|Data Engineering|
| 800|  Ramesh|            Null|
| 900|  Suresh|            Null|
|1000|Himanshu|            Null|
+----+--------+----------------+

In [59]:
from pyspark.sql.functions import regexp_replace
combined_df = combined_df.withColumn('Department', regexp_replace('Department', 'Null', 'DavOps'))\
.withColumn('City', regexp_replace('City', 'Null', 'Banglore'))

In [61]:
combined_df.show()

+----+-----------+--------+-----+----+--------+----------------+
|  Id|Employee_id|    City|State|  Id|    Name|      Department|
+----+-----------+--------+-----+----+--------+----------------+
| 100|       2555|  Indore|   MP| 100|    Aman|Data Engineering|
| 200|       2456|  Indore|   MP| 200| Saurabh|Data Engineering|
| 300|       3265|   Surat|   GJ| 300|   Mohit|          DavOps|
| 400|       7896|Banglore|   KA| 400|  Kashif|          DAvOps|
| 500|       4562|Banglore|   KA| 500|   Eniya|          DAvOps|
| 600|       8524|Banglore|   KA| 600|   Anand|          DAvOps|
| 700|       6666|Banglore|   KA| 700|  Murali|Data Engineering|
| 800|       9853|Banglore|   KA| 800|  Ramesh|          DavOps|
| 900|       1594|Banglore|   JK| 900|  Suresh|          DavOps|
|1000|       7894|Banglore|   JK|1000|Himanshu|          DavOps|
+----+-----------+--------+-----+----+--------+----------------+